//Vars
:root {
  --red-primary: #a2242f;
  --red-secondary: #6a2e2a;
  --blue-primary: #0f4c81;
  --sandstone-primary: #c48a69;
  --amberglow-primary: #dc793d;
  --almond-oil-primary: #f4e4c1;

  --text-primary: rgb(31, 30, 30);
  --text-primary-dark: rgb(241, 241, 241);
  --background-primary: rgb(240, 240, 240);
  --background-primary-dark: #263056;
  --color-primary: var(--blue-primary);
  --color-primary-dark: rgb(255, 158, 30);

  --font-primary: font-family: sans-serif;
}

.app {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--background-primary);
  //background: url("http://127.0.0.1:5500/react-template-webpack/dist/css/assets/images/landscape.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;
  label {
    color: var(--color-primary);
  }
}

.dark {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--text-primary-dark);
  background-color: var(--background-primary-dark);
  //background: url("http://127.0.0.1:5500/react-template-webpack/dist/css/assets/images/landscape.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;
  label {
    color: var(--color-primary-dark);
  }
}


* {
  margin: 0;
  box-sizing: border-box;
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-primary-dark);
}

.terciary {
  background-color: var(--red-primary);
  color: var(--text-primary-dark);
}

//Flex-box

.flex {
  display: flex;
  align-items: center;
}
